@import "variables";
@import "elements";

.footer{
    background-color: $color-bg;
    background: url("../bg.png") center no-repeat;
    background-size: cover;
    height: 50px;
    span{
        padding: 20px;
        color: $color-font;
    }
}